* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body of the whole site */
body {
    background-color: #d9dcd6;
}
/*Header and Nav bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* css for logo */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* css for all nav elements inside header*/
/* this is nav styling */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This is styling for the list items */
.header  ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This is styling for the links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* This is styling for the text in content */
p {
    font-size: 16px;
}
/* This is styling for background stock photo*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This is positioning of the text*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* This is the dimensions of the text */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}
/* This is styling for the benefits section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* This is sets positioning for benfits section */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This is sets postioning for h3 tags in benfits section*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* This is positiong of images in benefits section*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This is fonts details of all classes with following tag*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This is sizing of content images */
.content img {
    max-height: 200px;
}
/* This is sizing for all h2 ags in content*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This is styling of the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* This is the font size of copy right text in footer */
.footer h4 {
    font-size: 20px;
}
